<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<!-- INDICAMOS QUE VAMOS A USAR CARACTERES ESPECIALES -->
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
	<title>Curso de AngularJS</title>
	<!-- INCLUIR LA LIBRERIA DE ANGULARJS -->
	<script type="text/javascript" src="js/lib/angular.min.js"></script>
	<!-- INCLUIMOS LA LIBRERIA DE BOOTSTRAP -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<!-- INCLUIMOS LA LIBRERIA REFERENCIANDO AL MODELO DE DATOS  -->
	<script type="text/javascript" src="js/lib/app.js"></script>
</head>
<body>
	<div class="container" ng-controller="myCtrl">
		<h1>ng-Model</h1>
		<h4>en AngularJS</h4>
		<hr>
		<p>
			Su nombre: {{nombre | uppercase}}
			<br>
			<input type="text" ng-model="nombre" class="form-control" placeholder="Introduce su nombre"/>
		</p>
		<p>
			Seleccione el pais de origen : {{pais}}
			<select class="form-control" ng-model="pais">
				<option value="1">Mexico</option>
				<option value="2">Peru</option>
				<option value="3">Colombia</option>
				<option value="4">Noruega</option>
			</select>
		</p>
		<p>
			Seleccione las opciones: {{opt1 }} {{opt2}}
			<hr>
			<input type="checkbox" ng-model="opt1">Opcion 1
			<br>
			<input type="checkbox" ng-model="opt2">Opcion 2
		</p>
		<h3>Radio Button</h3>
		<p>
			Seleccione genero: {{radio1}}
			<hr>
			<input type="radio" ng-model="radio1" value="M">MASCULINO
			<br>
			<input type="radio" ng-model="radio1" value="F">FEMENINO

			
		</p>
		
		
	</div>  <!-- container -->
	
</body>
</html>